<main class="container">
  <div class="max-w-md my-10 m-auto p-12 lg:p-16 bg-white rounded border border-grey-light shadow">
<br>

<div style="padding-left: 10px; padding-right: 10px;">

        <div class="row">
        <div class="col-4">
        <h3 class="mb-3">Client</h3>

      </div>
        <div class="col-6">

      </div>
        <div class="col-2">
        <%= link_to 'Back', clients_path, class: "w-10 btn btn-outline-dark btn-sm", style: 'float: right'%>
        <%= link_to 'Edit', edit_client_path(@client), class: "w-10 btn btn-outline-info btn-sm me-2", style: 'float: right' %>
      </div>
      </div>

</div>

<div class="col-lg-12 p-2">
        <div class="card m-b-30">
            <div class="card-body py-2 ps-5">
                <div class="row">
                    <div class="col-lg-12">
                          <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Name:</th>
                                        <td class="p-1"> <h5><%= @client.name %></h5> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Email :</th>
                                        <td class="p-1"> <p><%= @client.email %></p> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Addess :</th>
                                        <td class="p-1"> <p><%= @client.address %></p> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Cellphone No. :</th>
                                        <td class="p-1"> <p><%= @client.cp_number %></p> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">User ID :</th>
                                        <td class="p-1"> <p><%= @client.user_id %></p> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= render 'clients/footer'%>
